@* Sidebar Menu with Bootstrap *@
<div class="d-flex flex-column flex-shrink-0 p-2 bg-light pt-4" style="width: 250px; height: 100vh;">
    <div class="text-center mb-4">
        <img src="images/main-logo.png" alt="CYBERSOFT Logo" class="img-fluid mb-2" style="width: 250px;" />
    </div>

    <ul class="nav nav-pills flex-column mb-4">
        <li class="nav-item">
            <NavLink href="/schedule-management" class="nav-link" activeClass="active">
                <i class="fas fa-cog me-2"></i> Schedule Management
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/schedule-details-management" class="nav-link" activeClass="active">
                <i class="fas fa-cog me-2"></i> Schedule Details Management
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/lecturers-management" class="nav-link" activeClass="active">
                <i class="fas fa-cog me-2"></i> Lecturers Management
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/test-quiz" class="nav-link" activeClass="active">
                <i class="fas fa-cog me-2"></i> Test Quiz
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/checking-intern" class="nav-link" activeClass="active">
                <i class="fas fa-cog me-2"></i> Checking Intern
            </NavLink>
        </li>
    </ul>
</div>